html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    position:relative;
    margin: 0px;
    padding: 0px;
    background-color: rgb(27, 191, 202);
    color: #fff;
}

.wrapper {
    position: relative;
    border: double;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    margin: 0 auto;
}

a {
    color: rgb(27, 191, 202);
}

nav {
    text-align: center;
    background-color: rgb(34, 88, 102);
    padding: 1em 0;
    border-top: 4px solid rgb(27, 191, 202);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 0.5em;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(27, 191, 202);
}

footer {
    position: fixed;

    bottom : 0;
    left:0;

    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.left .center .right {

}


select, input {
    font-family:inherit;
    border-radius: 6px;
    background: rgba(3, 237, 245, 0.1);
    border-style:dashed;
    border-width: 0.05cm;
    width: 100px;
}

select:focus {
    background: rgba(0,0,0,.1);
    border-radius: 5px;
    outline: none;
    color: rgb(255, 255, 255);
}

input:focus, textarea:focus {
    background   : rgba(0,0,0,.1);
    border-radius: 5px;
    outline      : none;
    color: rgb(255, 255, 255);
}
